<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!--API키는 이파일에서 관리할것!-->
<properties>
    <entry key="selectListCount">
        SELECT COUNT(*) as cnt
        FROM BOARD
        JOIN BOARD_TYPE USING(TYPE_NO)
        WHERE BOARD_NAME = ?
    </entry>

    <entry key="selectQnAList">
        SELECT *
        FROM(SELECT
                ROWNUM AS "RNUM",
                A.*
        FROM (SELECT
                CASE WHEN REPLY_CONTENT IS NULL THEN 'N' ELSE 'Y' END AS "RESULTSTATUS",
                BOARD_NO,
                BOARD_TITLE,
                MEMBER_NAME,
                CREATE_DATE
              FROM BOARD B
                JOIN BOARD_TYPE USING(TYPE_NO)
                JOIN MEMBER USING(MEMBER_NO)
                JOIN REPLY R on B.BOARD_NO = R.BOARD_NO
              WHERE BOARD_NAME = '문의'
              ORDER BY CREATE_DATE DESC) A
              )
        WHERE RNUM BETWEEN ? AND ?;
    </entry>

</properties>


