<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="selectList">
        SELECT
            SHELTER_NAME,
            SHELTER_ADDRESS,
            SHELTER_LANDLINE
        FROM SHELTER
        WHERE SHELTER_ADDRESS IS NOT NULL
    </entry>

    <entry key="selectCity">
        SELECT *
        FROM CITY
    </entry>

    <entry key="selectVillage">
        SELECT *
        FROM VILLAGE
    </entry>

    <entry key="selectCity2">
        SELECT VILLAGE_NO,
               CITY_NO,
               VILLAGE_NAME
        FROM VILLAGE
        WHERE CITY_NO = ?

    </entry>

    <entry key="selectVillage2">
        SELECT
                SHELTER_NAME,
                SHELTER_ADDRESS,
                SHELTER_LANDLINE,
                VILLAGE_NO,
                SHELTER_NO
        FROM SHELTER
        WHERE VILLAGE_NO = ?
    </entry>



</properties>




